.time-btn {
  border: none;
  border-radius: 50% !important;
  padding: 5px;
  font-size: 17px;
  height: 50px;
  width: 50px;
  box-shadow: 0 0px 2px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
}
.time-btn:active {
  background-color: #48abe0;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}
.time-btn {
  margin-right: 10px;
  border-radius: 70%;
}

@media only screen and (max-width: 768px) {
  .time-btn {
    margin: 5px;
  }
  .time-btn-container button {
    font-size: 13px;
    height: 33px;
    width: 33px;
  }
}
