.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
.intro-part {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.intro-part > img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}
.info-container {
  display: flex;
}
.infodiv {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.time-btn-container {
  display: flex;
  margin-left: 15px;
}
.time-btn-container button {
  color: black;
  border: none;
  padding: 5px;
  font-size: 17px;
  height: 50px;
  width: 50px;
  box-shadow: 0 0px 2px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
}
.time-btn-container button:active {
  background-color: #48abe0;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}
.time-btn {
  margin-right: 10px;
  border-radius: 70%;
}
.ex-time {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ex-time-div {
  display: flex;
  justify-content: space-between;
}
.complete-btn {
  width: 75%;
  height: 60px;
  border-radius: 5px;
  border: none;
}
@media only screen and (max-width: 768px) {
  .cart-container {
    width: 35%;
  }
  .intro-part {
    margin-top: 20px;
    flex-direction: column;
  }
  .info-container {
    flex-direction: column;
  }
  .infodiv {
    margin: 8px;
  }
  .time-btn-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .time-btn {
    margin: 5px;
  }
  .time-btn-container button {
    font-size: 13px;
    height: 33px;
    width: 33px;
  }
  .ex-time-div {
    flex-direction: column;
  }
  .complete-btn {
    height: 60px;
    width: 100%;
  }
}
